* {
            margin: 0;
            padding: 0;
            box-sizing: border-box;
            }

         header {
            background-color: #222;
            padding: 15px 0;
            }

            .menu {
            list-style: none;
            display: flex;
            justify-content: center;
            }

            .menu li {
            position: relative;
            }

            .menu a {
            text-decoration: none;
            color: white;
            padding: 15px 20px;
            display: block;
            }

            /* Hover effect */
            .menu a:hover {
            background-color: #444;
            }

            /* Dropdown menu */
            .dropdown-menu {
            list-style: none;
            position: absolute;
            top: 100%;
            left: 0;
            background-color: #333;
            min-width: 180px;
            display: none;
            }

            /* Show dropdown on hover */
            .dropdown:hover .dropdown-menu {
            display: block;
            }

            .dropdown-menu li a {
            padding: 12px 15px;
            }